* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tr-az.tr-az.dix -text
/apertium-tr-az.tr-az.rlx -text
/apertium-tr-az.tr-az.t1x -text
/autogen.sh -text
/az-tr.prob -text svneol=unset#unset
/configure.ac -text
dev/bidix/bidix-with-context.sh -text
dev/bidix/context_nouns.txt -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_postpositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/corpus-inconsistency.sh -text
dev/disambiguation_rules.txt -text
dev/extract-translations.sh -text
dev/generation-summary.tr-az.txt -text
dev/generation-test.tr-az.sh -text
dev/midterm/article.az.txt -text
dev/midterm/article.tr-az.2011-07-12.txt -text
dev/midterm/article.tr.txt -text
dev/missing-bidix-freq.sh -text
dev/tofix -text
dev/trans0200 -text
dev/trans0400 -text
dev/trans1000 -text
dev/verbs0400 -text
dev/verbs0600 -text
dev/verbs0700 -text
dev/verbs1000 -text
dev/verbs1300 -text
dev/verbs1800 -text
dev/verbs2200 -text
dev/verbs2492 -text
/modes.xml -text
morph-az/Makefile.am -text
morph-az/README -text
morph-az/azmorph.fst -text
morph-az/deriv.fst -text
morph-az/lexicon/adjectives -text
morph-az/lexicon/adverbs -text
morph-az/lexicon/cnjadv -text
morph-az/lexicon/cnjcoo -text
morph-az/lexicon/cnjsub -text
morph-az/lexicon/det -text
morph-az/lexicon/interjections -text
morph-az/lexicon/misc -text
morph-az/lexicon/nouns -text
morph-az/lexicon/postpositions -text
morph-az/lexicon/pronouns -text
morph-az/lexicon/proper_nouns -text
morph-az/lexicon/verbs -text
morph-az/ninfl.fst -text
morph-az/num.fst -text
morph-az/particles.fst -text
morph-az/phon/010-exception_deye.fst -text
morph-az/phon/015-exception_obs.fst -text
morph-az/phon/017-exception_i.fst -text
morph-az/phon/020-compn.fst -text
morph-az/phon/040-exception_ben.fst -text
morph-az/phon/050-exception_su.fst -text
morph-az/phon/060-xception_del_bS.fst -text
morph-az/phon/070-exception_del_buff.fst -text
morph-az/phon/080-vowel_epenth.fst -text
morph-az/phon/090-duplication.fst -text
morph-az/phon/095-cons-alt.fst -text
morph-az/phon/100-fs_devoicing.fst -text
morph-az/phon/110-v_assimilation.fst -text
morph-az/phon/120-passive_ln.fst -text
morph-az/phon/130-exception_yor.fst -text
morph-az/phon/140-v_harmony.fst -text
morph-az/phon/Makefile -text
morph-az/phon/phon+bm.fst -text
morph-az/phon/phon.fst -text
morph-az/symbols.fst -text
morph-az/vinfl.fst -text
morph-tr/lexicon/adjectives -text
morph-tr/lexicon/adverbs -text
morph-tr/lexicon/cnjadv -text
morph-tr/lexicon/cnjcoo -text
morph-tr/lexicon/cnjsub -text
morph-tr/lexicon/det -text
morph-tr/lexicon/interjections -text
morph-tr/lexicon/misc -text
morph-tr/lexicon/nouns -text
morph-tr/lexicon/postpositions -text
morph-tr/lexicon/pronouns -text
morph-tr/lexicon/proper_nouns -text
morph-tr/lexicon/verbs -text
morph-tr/phon/010-exception_deye.fst -text
morph-tr/phon/015-exception_obs.fst -text
morph-tr/phon/017-exception_i.fst -text
morph-tr/phon/020-compn.fst -text
morph-tr/phon/040-exception_ben.fst -text
morph-tr/phon/050-exception_su.fst -text
morph-tr/phon/060-xception_del_bS.fst -text
morph-tr/phon/070-exception_del_buff.fst -text
morph-tr/phon/080-vowel_epenth.fst -text
morph-tr/phon/090-duplication.fst -text
morph-tr/phon/100-fs_devoicing.fst -text
morph-tr/phon/110-v_assimilation.fst -text
morph-tr/phon/120-passive_ln.fst -text
morph-tr/phon/130-exception_yor.fst -text
morph-tr/phon/140-v_harmony.fst -text
morph-tr/phon/Makefile -text
morph-tr/phon/phon+bm.fst -text
morph-tr/phon/phon.fst -text
morph-tr/version.fst -text
/pending-tests.sh -text
/regression-tests.sh -text
tests/0000.dis.txt -text
tests/0000.txt -text
tests/0001.dis.txt -text
tests/0001.txt -text
tests/0002.dis.txt -text
tests/0002.txt -text
tests/0003.dis.txt -text
tests/0003.txt -text
tests/0004.txt -text
tests/0005.txt -text
tests/0006.dis.txt -text
tests/0006.txt -text
tests/0007.txt -text
tests/0008.txt -text
tests/0009.txt -text
tests/0010.txt -text
tests/0011.txt -text
tests/0012.txt -text
tests/0013.txt -text
tests/0014.txt -text
tests/0015.txt -text
tests/0016.txt -text
tests/0017.txt -text
tests/0018.dis.txt -text
tests/0018.txt -text
tests/0019.txt -text
tests/0020.txt -text
tests/0021.txt -text
tests/0022.txt -text
tests/run-tests.sh -text
tests/taggedarticle -text
/tr-az.prob -text svneol=unset#unset
/update-lexica.py -text
