* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tur-aze.tur-aze.dix -text
/apertium-tur-aze.tur-aze.rlx -text
/apertium-tur-aze.tur-aze.t1x -text
/autogen.sh -text
/aze-tur.prob -text svneol=unset#unset
/configure.ac -text
dev/bidix/bidix-with-context.sh -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_postpositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/comparative/undhr.az.txt -text
dev/comparative/undhr.tr-az.apertium.txt -text
dev/comparative/undhr.tr-az.google.txt -text
dev/comparative/undhr.tr.txt -text
dev/corpus-inconsistency.sh -text
dev/disambiguation_rules.txt -text
dev/evaluation/README -text
dev/evaluation/setimes.bulgar.tr.txt -text
dev/evaluation/setimes.kosova.tr.txt -text
dev/evaluation/setimes.kosova_plate.az.txt -text
dev/evaluation/setimes.kosova_plate.tr.txt -text
dev/evaluation/wikipedia.kadinlar_askerler.az.txt -text
dev/evaluation/wikipedia.kadinlar_askerler.tr.txt -text
dev/extract-translations.sh -text
dev/generation-summary.tr-az.txt -text
dev/generation-test.tr-az.sh -text
dev/midterm/article.az.txt -text
dev/midterm/article.tr-az.2011-07-12.txt -text
dev/midterm/article.tr.txt -text
dev/missing-bidix-freq.sh -text
dev/tofix -text
dev/trans0200 -text
dev/trans0400 -text
dev/trans1000 -text
dev/verbs0400 -text
dev/verbs0600 -text
dev/verbs0700 -text
dev/verbs1000 -text
dev/verbs1300 -text
dev/verbs1800 -text
dev/verbs2200 -text
dev/verbs2492 -text
/lexchoicebil.xsl -text
/modes.xml -text
morph-aze/Makefile.am -text
morph-aze/README -text
morph-aze/azmorph.fst -text
morph-aze/deriv.fst -text
morph-aze/lexicon/adjectives -text
morph-aze/lexicon/adverbs -text
morph-aze/lexicon/cnjadv -text
morph-aze/lexicon/cnjcoo -text
morph-aze/lexicon/cnjsub -text
morph-aze/lexicon/det -text
morph-aze/lexicon/interjections -text
morph-aze/lexicon/misc -text
morph-aze/lexicon/nouns -text
morph-aze/lexicon/pn_acr -text
morph-aze/lexicon/pn_ant -text
morph-aze/lexicon/pn_cog -text
morph-aze/lexicon/pn_org -text
morph-aze/lexicon/postpositions -text
morph-aze/lexicon/postpositions_infl -text
morph-aze/lexicon/pronouns -text
morph-aze/lexicon/proper_nouns -text
morph-aze/lexicon/toponyms -text
morph-aze/lexicon/verbs -text
morph-aze/lexicon/verbs_iv -text
morph-aze/lexicon/verbs_tv -text
morph-aze/ninfl.fst -text
morph-aze/num.fst -text
morph-aze/particles.fst -text
morph-aze/phon/010-exception_deye.fst -text
morph-aze/phon/015-exception_obs.fst -text
morph-aze/phon/017-exception_i.fst -text
morph-aze/phon/020-compn.fst -text
morph-aze/phon/040-exception_ben.fst -text
morph-aze/phon/050-exception_su.fst -text
morph-aze/phon/060-xception_del_bS.fst -text
morph-aze/phon/070-exception_del_buff.fst -text
morph-aze/phon/080-vowel_epenth.fst -text
morph-aze/phon/090-duplication.fst -text
morph-aze/phon/095-cons-alt.fst -text
morph-aze/phon/100-fs_devoicing.fst -text
morph-aze/phon/110-v_assimilation.fst -text
morph-aze/phon/120-passive_ln.fst -text
morph-aze/phon/130-exception_yor.fst -text
morph-aze/phon/140-v_harmony.fst -text
morph-aze/phon/Makefile -text
morph-aze/phon/phon+bm.fst -text
morph-aze/phon/phon.fst -text
morph-aze/symbols.fst -text
morph-aze/vinfl.fst -text
morph-tur/Makefile.am -text
morph-tur/deriv.fst -text
morph-tur/deriv_unproductive.fst -text
morph-tur/lexicon/adjectives -text
morph-tur/lexicon/adverbs -text
morph-tur/lexicon/cnjadv -text
morph-tur/lexicon/cnjcoo -text
morph-tur/lexicon/cnjsub -text
morph-tur/lexicon/det -text
morph-tur/lexicon/interjections -text
morph-tur/lexicon/misc -text
morph-tur/lexicon/nouns -text
morph-tur/lexicon/pn_acr -text
morph-tur/lexicon/pn_ant -text
morph-tur/lexicon/pn_cog -text
morph-tur/lexicon/pn_org -text
morph-tur/lexicon/postpositions -text
morph-tur/lexicon/postpositions_infl -text
morph-tur/lexicon/pronouns -text
morph-tur/lexicon/proper_nouns -text
morph-tur/lexicon/toponyms -text
morph-tur/lexicon/verbs -text
morph-tur/lexicon/verbs_iv -text
morph-tur/lexicon/verbs_tv -text
morph-tur/ninfl.fst -text
morph-tur/num.fst -text
morph-tur/particles.fst -text
morph-tur/phon/010-exception_deye.fst -text
morph-tur/phon/015-exception_obs.fst -text
morph-tur/phon/017-exception_i.fst -text
morph-tur/phon/020-compn.fst -text
morph-tur/phon/040-exception_ben.fst -text
morph-tur/phon/050-exception_su.fst -text
morph-tur/phon/060-xception_del_bS.fst -text
morph-tur/phon/070-exception_del_buff.fst -text
morph-tur/phon/080-vowel_epenth.fst -text
morph-tur/phon/090-duplication.fst -text
morph-tur/phon/100-fs_devoicing.fst -text
morph-tur/phon/110-v_assimilation.fst -text
morph-tur/phon/120-passive_ln.fst -text
morph-tur/phon/130-exception_yor.fst -text
morph-tur/phon/140-v_harmony.fst -text
morph-tur/phon/Makefile -text
morph-tur/phon/phon+bm.fst -text
morph-tur/phon/phon.fst -text
morph-tur/symbols.fst -text
morph-tur/trmorph.fst -text
morph-tur/update-static-files.sh -text
morph-tur/version.fst -text
morph-tur/vinfl.fst -text
/pending-tests.sh -text
/regression-tests.sh -text
tests/0000.dis.txt -text
tests/0000.txt -text
tests/0001.dis.txt -text
tests/0001.txt -text
tests/0002.dis.txt -text
tests/0002.txt -text
tests/0003.dis.txt -text
tests/0003.txt -text
tests/0004.txt -text
tests/0005.txt -text
tests/0006.dis.txt -text
tests/0006.txt -text
tests/0007.txt -text
tests/0008.txt -text
tests/0009.txt -text
tests/0010.txt -text
tests/0011.txt -text
tests/0012.txt -text
tests/0013.txt -text
tests/0014.txt -text
tests/0015.txt -text
tests/0016.txt -text
tests/0017.txt -text
tests/0018.dis.txt -text
tests/0018.txt -text
tests/0019.txt -text
tests/0020.txt -text
tests/0021.txt -text
tests/0022.txt -text
tests/run-tests.sh -text
tests/taggedarticle -text
/tur-aze.prob -text svneol=unset#unset
/update-azemorph.py -text
/update-turmorph.py -text
