* text=auto !eol
/Makefile -text
/README -text
/apertium-tr-az.tr-az.dix -text
/apertium-tr-az.tr-az.rlx -text
/apertium-tr-az.tr-az.t1x -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_postpositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/disambiguation_rules.txt -text
dev/extract-translations.sh -text
dev/generation-summary.tr-az.txt -text
dev/generation-test.tr-az.sh -text
dev/midterm/article.az.txt -text
dev/midterm/article.tr-az.2011-07-12.txt -text
dev/midterm/article.tr.txt -text
dev/missing-bidix-freq.sh -text
dev/trans0200 -text
dev/trans0400 -text
dev/trans1000 -text
dev/verbs0400 -text
dev/verbs0600 -text
dev/verbs0700 -text
dev/verbs1000 -text
dev/verbs1300 -text
dev/verbs1800 -text
dev/verbs2200 -text
dev/verbs2492 -text
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
tests/0000.dis.txt -text
tests/0000.txt -text
tests/0001.dis.txt -text
tests/0001.txt -text
tests/0002.dis.txt -text
tests/0002.txt -text
tests/0003.dis.txt -text
tests/0003.txt -text
tests/0004.txt -text
tests/0005.txt -text
tests/0006.dis.txt -text
tests/0006.txt -text
tests/0007.txt -text
tests/0008.txt -text
tests/0009.txt -text
tests/0010.txt -text
tests/0011.txt -text
tests/0012.txt -text
tests/0013.txt -text
tests/0014.txt -text
tests/0015.txt -text
tests/0016.txt -text
tests/0017.txt -text
tests/0018.dis.txt -text
tests/0018.txt -text
tests/0019.txt -text
tests/0020.txt -text
tests/0021.txt -text
tests/0022.txt -text
tests/run-tests.sh -text
tests/taggedarticle -text
/tofix -text
/tr-az.prob -text svneol=unset#unset
/tr-az.sh -text
/wiki-tests.sh -text
